<form action="" [formGroup]="addForm" (ngSubmit)="addShip()">

  <div class="input">
    <label for="" class="form-label">Id</label>
    <input type="text" class="form-control" formControlName="id">
    </div>

  <div class="input">
<label for="" class="form-label">Name</label>
<input type="text" class="form-control" formControlName="name">
</div>

<div class="input">
  <label for="" class="form-label">Length</label>
  <input type="text" class="form-control" formControlName="length">
</div>

<div class="input">
  <label for="" class="form-label">Price</label>
  <input type="text" class="form-control" formControlName="price">
</div>

<div class="input">
  <label for="" class="form-label">Person</label>
  <input type="text" class="form-control" formControlName="person">
</div>

<div class="input">
  <label for="" class="form-label">Trailer</label>
  <input type="text" class="form-control" formControlName="trailer">
</div>

<div class="addButton">
  <button type="submit" class="btn btn-info">Add</button>
</div>
</form>
